%listReset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


// Diagonal block decoration

%diagonal {
  overflow: hidden;
  position: relative;
}

%diagonalDecoration {
  content: "";
  position: absolute;
  z-index: 9;
  left: 0;
  height: 0;
  display: block;
  width: 0;

  @include breakpointDown($md) {
    border: {
      top-width: 50px !important;
      bottom-width: 50px !important;
    }
  }

  @include breakpointDown($sm) {
    border: {
      top-width: 25px !important;
      bottom-width: 25px !important;
    }
  }
}

%bottomDiagonal {
  @extend %diagonal;
  

  &:after {
    @extend %diagonalDecoration;
    bottom: 0;
    border: {
      top: 70px solid transparent;
      bottom: 70px solid $white;
      left: 50vw solid $white;
      right: 50vw solid transparent;
    }
  }
}

%topDiagonal {
  @extend %diagonal;

  &:before {
    @extend %diagonalDecoration;
    top: 0;
    border: {
      top: 70px solid $white;
      bottom: 70px solid transparent;
      left: 50vw solid transparent;
      right: 50vw solid $white;
    }
  }
}
