// Brand colors

$white: #fff;
$black: #000;
$blue: #1d96c2;
$blueDark: #083140;
$maskOpacity: 0.8;
$maskColor: $blueDark;
$mask: rgba($maskColor, $maskOpacity);

// Responsive breakpoints

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
