@import "../scss/abstracts";

.collapsibleListItem {
  $toggleBtnSize: 32px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.08);
  // Elements
  width: 100%;

  &__title {
    position: relative;
    letter-spacing: -1px;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65);
    transition: color 0.15s;
    user-select: none;

    &:hover {
      color: #083140;
    }
  }

  &__titleText {
    padding: 30px $toggleBtnSize 30px 0;
  }

  &__toggleBtn {
    position: absolute;
    display: flex;
    width: $toggleBtnSize;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__toggleIcon {
    margin: auto 0;
    font-weight: normal;
    font-style: normal;
  }

  &__content {
    overflow-y: hidden;
    position: absolute;
    visibility: hidden;
    transition: max-height 0.5s;
  }

  &__contentContainer {
    padding: 0 0 0.4em 0;
  }

  // Modifiers
  &__content.-transition {
    position: static;
  }

  &__content.-open.-transition {
    position: static;
    visibility: visible;
    opacity: 0.75;
    max-height: 0 !important;
  }

  &__content.-open {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}
