@import "../scss/abstracts";

.collapsibleList {
  $toggleBtnSize: 32px;
  // Elements
  width: 100%;

  &__inner {
    max-width: 1320px;
    margin: 0 auto;
  }

  &__item {
    border-bottom: solid 2px rgba(0, 0, 0, 0.08);
  }

  // Modifiers
}
