@import "../scss/abstracts";

.collapsibleList {
  $toggleBtnSize: 32px;
  padding-top: 60px;
  width: 100%;
  
  // Elements
  &__inner {
    margin: 0 auto;
    max-width: $lgMaxWidth;
    @include breakpointDown($xl) {
      max-width: 960px;
    }
    @include breakpointDown($lg) {
      max-width: 880px;
    }
    @include breakpointDown($md) {
      max-width: 600px;
    }
    @include breakpointDown($sm) {
      max-width: 480px;
    }
  }

  &__item {
    border-bottom: solid 2px rgba(0, 0, 0, 0.08);
  }

  // Modifiers
  &.-contentLightText .collapsibleListItem__contentContainer {
    font-weight: 200;
    font-size: 20px;
    @include breakpointDown($md) {
      font-size: 16px;
    }
  }
}
