@import "../scss/abstracts";

.collapsibleListItem {
  $hPadding: 30px;
  $toggleBtnSize: 40px;

  border-bottom: solid 2px rgba(0, 0, 0, 0.08);
  // Elements
  width: 100%;

  &__title {
    position: relative;
    user-select: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65);
    transition: color 0.15s;
    &:hover {
      color: #083140;
    }
  }

  &__titleText {
    letter-spacing: -1px;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    $vPaddingLg: 30px;
    padding: $vPaddingLg $hPadding + $toggleBtnSize $vPaddingLg $hPadding;

    @include breakpointDown($lg) {
      letter-spacing: -0.5px;
      font-size: 30px;
      $vPaddingMd: 25px;
      padding: $vPaddingMd $hPadding + $toggleBtnSize $vPaddingMd $hPadding;
    }

    @include breakpointDown($md) {
      letter-spacing: initial;
      font-size: 20px;
      $vPaddingSm: 20px;
      padding: $vPaddingSm $hPadding + $toggleBtnSize $vPaddingSm $hPadding;
    }
  }

  &__toggleBtn {
    position: absolute;
    display: flex;
    width: $toggleBtnSize;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__toggleIcon {
    font-size: 32px;
    margin: auto 0;
    font-weight: normal;
    font-style: normal;
  }

  &__content {
    overflow-y: hidden;
    position: absolute;
    visibility: hidden;
    transition: max-height 0.5s;
  }

  &__contentContainer {
    padding: 0 $hPadding 0.4em $hPadding;
  }

  // Modifiers

  // --------------------------------------------------------
  // Open-close transitions
  &__content.-transition {
    position: static;
    visibility: visible;
  }

  &__content.-open.-transition {
    position: static;
    visibility: visible;
    max-height: 0 !important;
  }

  &__content.-open {
    position: static;
    visibility: visible;
  } // End of open-close transitions
  // --------------------------------------------------------

  &.-contentLightText .mediaBlock__contentContainer {
    font-size: 20px;
    font-weight: 200;
  }
}
