@import "../scss/abstracts";

.footer {
  @include breakpointUp($lg + 50px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &__title {
    margin: {
      top: 0;
      bottom: 15px;
    }
    text-transform: uppercase;
    letter-spacing: 1px;
    font: {
      size: 14px;
      weight: 700;
    }
    color: $blue;
  }

  &__top {
    padding: {
      top: 40px;
      bottom: 40px;
    }
  }

  &__topContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include breakpointDown($lg + 50px) {
      flex-direction: column;
    }
  }

  &__logo {
    display: block;
    margin: {
      top: 40px;
      bottom: 40px;
    }
    width: 150px;
    height: auto;
  }

  &__menuBlock {
    margin: {
      top: 40px;
      bottom: 40px;
    }
  }

  &__menu {
    @extend %listReset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  &__menuItemLink {
    position: relative;
    display: block;
    padding: {
      top: 4px;
      bottom: 4px;
    }
    color: $black;
    text-decoration: none;
    font: {
      weight: 200;
      size: 20px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 4px;
      display: block;
      width: 0;
      height: 2px;
      background-color: $black;
      transition: width 0.23s ease-out;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__contact {
    margin: {
      top: 40px;
      bottom: 40px;
    }
    
    a, p {
      color: inherit;
      text-decoration: none;
      font: {
        weight: 200;
        size: 20px;
      }
    }
  }

  &__bottom {
    padding: {
      top: 20px;
      bottom: 20px;
    }
    background-color: $blueDark;
    color: white;
  }

  &__bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyRight {
    font: {
      size: 14px;
      weight: 200;
    }
  }

  &__iconMenu {
    display: flex;
    @extend %listReset;
    margin: {
      top: -10px;  
      bottom: -10px;
      left: 10px;
    }
    font-size: 20px;
  }

  &__iconMenuItemLink {
    position: relative;
    display: block;
    padding: 10px;
    color: $white;
    text-decoration: none;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.25);
    }
  }

  &__homeButton {
    position: fixed;
    left: 4.2%;
    bottom: 5%;
    z-index: 1000; // TODO
    width: 56px;
    height: 56px;
    opacity: 1;
    background-color: #48A4DC;
    color: $white;
    line-height: 57px;
    text-align: center;
    border-radius: 50%;
    box-shadow:
      0 2px 5px 0 rgba(0,0,0,.16),
      0 2px 10px 0 rgba(0,0,0,.12);

    &:hover {
      background-color: rgba(182, 182, 182, 1);
    }
  }

  $toTopButtonSize: 29px;
  $toTopButtonTDuration: 0.3s;
  &__toTopButton {
    position: fixed;
    right: 1%;
    bottom: 2%;
    z-index: 1000;  // TODO
    width: $toTopButtonSize;
    height: $toTopButtonSize;
    line-height: $toTopButtonSize * 0.95;
    overflow: hidden;
    text-align: center;
    color: $white;
    border-radius: 50%;
    background-color: rgba(black, 0.25);
    transition: background-color $toTopButtonTDuration * 3,
      transform $toTopButtonTDuration;

    &:hover {
      background-color: rgba(black, 0);
      &:active {
        transform: scale(0.97);
      }

      .footer__toTopButtonIcon {
        transform: translateY(-$toTopButtonSize);
      }
      .footer__toTopButtonHoverIcon {
        transform: translateY(0);
      }
    }
  }

  &__toTopButtonInner {
    position: relative;
  }

  &__toTopButtonIcon,
  &__toTopButtonHoverIcon {
    position: absolute;
    left: $toTopButtonSize / 3;
    top: $toTopButtonSize / 5;
    transition: transform $toTopButtonTDuration;
  }

  &__toTopButtonHoverIcon {
    transform: translateY($toTopButtonSize);
  }
}
