@import "../scss/abstracts";

.mediaBlock {
  $moreContentTransitionDur: 1s;
  position: relative;
  z-index: 5;
  height: 100vh;
  padding: {
    left: 90px;
    right: 90px;
  }
  color: $white;
  overflow: hidden;

  @include breakpointDown($md) {
    padding: {
      left: 70px;
      right: 70px;
    }
  }

  @include breakpointDown($sm) {
    padding: {
      left: 50px;
      right: 50px;
    }
  }

  // Children
  &__media {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;

    //mask
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $maskDefaultColor;
      z-index: -1;
    }
  }

  &__mediaMask {
    pointer-events: none;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $maskDefaultColor;
    opacity: $maskDefaultOpacity;
  }

  &__inner {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @extend %innerContainerSizing;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__video {
    display: block;
    margin-left: 50vw;
    transform: translateX(-50%);
    @include breakpointDown($lgMaxWidth) {
      max-height: 100%;
    }
  }

  &__title {
    margin: {
      top: 0;
      bottom: 8px;
    }
    text-align: center;
    font: {
      weight: 600;
      size: 80px;
    }
    line-height: $defaultLineHeight;

    @include breakpointDown($xl) {
      font-size: 72px;
    }

    @include breakpointDown($lg) {
      font-size: 68px;
    }

    @include breakpointDown($md) {
      font-size: 40px;
    }

    @include breakpointDown($sm) {
      font-size: 36px;
    }
  }

  &__subTitle {
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
    font: {
      size: 25px;
      weight: 400;
    }
    line-height: $defaultLineHeight;

    @include breakpointDown($lg) {
      font-size: 22.5px;
    }

    @include breakpointDown($md) {
      font-size: 17.5px;
    }
  }

  &__ctaButtonContainer {
    margin-top: 10px;
  }

  &__videoPlayerContainer {
    margin-top: 100px;
  }

  &__icon {
    position: absolute;
    top: 24px;
    left: 50%;
    z-index: 8;
    transform: translateX(-50%);
    border: 2px solid $blue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 61px;
    text-align: center;

    &:before {
      line-height: 61px;
      font-size: 24px;
      color: $blue;
    }
  }

  &__skipLink {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 49px;
    height: 49px;
    border: 2px solid $white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 25px;
    color: $white;
    opacity: 0.6;
    transition: opacity 0.4s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  &__contentContainer {
    display: block;
    position: relative;
    // max-width: 90%; TODO WHERE NEED IT?
    margin: {
      left: auto;
      right: auto;
    }
    padding-top: 20px;
  }

  &__content,
  &__moreContent {
    display: block;
  }

  &__content,
  &__moreContent {
    display: block;
    overflow: hidden;
    transition: max-height $moreContentTransitionDur;
  }

  &__moreContentButton,
  &__moreContentCloseButton {
    display: block;
    position: absolute; // prevent change container height during the open/close transition
    cursor: pointer;
    animation: moreContentBtnDelayedFadeIn 1.5s;
    &:hover {
      text-decoration: underline;
    }
  }

  @keyframes moreContentBtnDelayedFadeIn {
    from {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  // Modifiers

  &.-longContent {
    .mediaBlock__videoPlayerContainer {
      margin-top: 40px;
    }
  }

  &.-topDiagonal {
    @extend %topDiagonal;
  }

  &.-bottomDiagonal {
    @extend %bottomDiagonal;
  }

  &.-autoHeight {
    padding: {
      top: 100px;
      bottom: 100px;
    }
    height: auto;

    &.-topDiagonal {
      padding-top: 250px;
    }

    &.-bottomDiagonal {
      padding-bottom: 250px;
      @include breakpointDown($md) {
        padding-bottom: 210px;
      }

      @include breakpointDown($sm) {
        padding-bottom: 170px;
      }
    }
  }

  &.-introduction {
    padding-top: 120px;
  }

  &.-introduction &__title {
    font: {
      weight: 700;
      size: 38px;
    }
    line-height: 1.2em;
    @include breakpointDown($xl) {
      font-size: 34px;
    }

    @include breakpointDown($lg) {
      font-size: 32px;
    }

    @include breakpointDown($md) {
      font-size: 30px;
    }

    @include breakpointDown($sm) {
      font-size: 23px;
    }
  }

  &.-introduction &__subTitle {
    font: {
      size: 20px;
      weight: 200;
    }
    line-height: 26px;
  }

  &.-withVideo {
    z-index: 10;
  }

  &.-lightHeader &__title {
    font-weight: 500;
    line-height: 1.1em;
    padding: {
      top: 110px;
      bottom: 40px;
    }
  }

  &.-brandImage &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $moreContentTransitionDur,
      transform-origin $moreContentTransitionDur;
  }

  &.-showVideoBottom .mediaBlock__video {
    position: relative;
    max-height: 1200px;
    top: -250px;
    @include breakpointDown($xl) {
      top: -100px;
      max-height: 850px;
    }
    @include breakpointDown($md) {
      top: -120px;
      left: -300px;
    }
    @include breakpointDown($sm) {
      left: -460px;
    }
  }

  @include breakpointUp($md) {
    &.-smallerTitle .mediaBlock__title {
      font-size: 56px;
    }
    &.-smallerTitle .mediaBlock__subTitle {
      font-size: 20px;
    }
  }

  &.-titleLeft .mediaBlock__title {
    width: 100%;
    text-align: left;
  }

  &.-blueBackground {
    &:after,
    & .mediaBlock__mediaMask {
      background-color: $blue;
      opacity: 1;
    }
  }

  // -longTitleText start
  &.-longTitleText {
    padding-top: 60px;
    &.-bottomDiagonal {
      padding-bottom: 180px;
      @include breakpointDown($lg) {
        padding-bottom: 150px;
      }
      @include breakpointDown($md) {
        padding-bottom: 120px;
      }
      @include breakpointDown($sm) {
        padding-bottom: 80px;
      }
    }
    & .mediaBlock__title {
      font-weight: 700;
      letter-spacing: -1px;
    }
  }

  &.-longTitleText .mediaBlock__title {
    font-size: 38px;
    @include breakpointDown($xl) {
      font-size: 32px;
    }
    @include breakpointDown($lg) {
      font-size: 30px;
    }
    @include breakpointDown($md) {
      font-size: 26px;
    }
    @include breakpointDown($sm) {
      font-size: 22px;
    }
  }
  &.-longTitleText .mediaBlock__subTitle {
    margin-top: 1.5em;
    letter-spacing: 1px;
    font: {
      size: 20px;
      weight: 600;
    }

    @include breakpointDown($sm) {
      font-size: 16px;
    }
  }
  // -longTitleText end

  &.-specialFaqsBackgroundImage .mediaBlock__image {
    display: block;
    // width: auto;
    height: 1312px;
  }

  // need for brand page video
  &.-cropVideoTopBorder .mediaBlock__video {
    transform: translate(-50%, -3%);
    @include breakpointDown($lgMaxWidth) {
      transform: translate(-50%, 0.5%) scale(1.06);
    }
  }
}

// CONTENT
.mediaBlock__contentContainer > div > div {
  p {
    font: {
      size: 20px;
      weight: 300;
    }
  }

  h2 {
    margin: 1em 0;
    letter-spacing: -1px;
    text-align: center;
    line-height: 1.1em;
    font: {
      size: 56px;
      weight: 600;
    }
    &:last-child {
      margin-bottom: 0.1em;
    }

    @include breakpointDown($xl) {
      font-size: 50px;
    }
    @include breakpointDown($lg) {
      font-size: 44px;
    }
    @include breakpointDown($md) {
      font-size: 39px;
    }
  }

  h3 {
    margin: 0.6em 0 0.8em 0;
    letter-spacing: -1px;
    text-align: center;
    font: {
      size: 38px;
      weight: 600;
    }
  }
  @include breakpointDown($lg) {
    max-width: 95%;
  }
  @include breakpointDown($md) {
    max-width: 100%;
    p {
      font-size: 16px;
    }
    h3 {
      font-size: 23px;
    }
  }

  & .imageColumn {
    display: flex;
    // padding: 30px 30px 30px 100px;
    flex-wrap: wrap;
    & > div {
      margin: auto;
      @include breakpointDown($sm) {
        min-width: 180px;
      }
      & > * {
        display: block;
        margin: auto;
        width: 100px;
      }
      & > img {
        height: auto;
        opacity: 0.6;
        @include breakpointDown($lg) {
          max-width: 70px;
        }
        @include breakpointDown($md) {
          max-width: 140px;
        }
      }
      & > div {
        text-align: center;
        margin: 1em 0;
        min-width: 150px;
        @include breakpointDown($lg) {
          min-width: 140px;
        }
        @include breakpointDown($md) {
          min-width: 110px;
        }
        @include breakpointDown($sm) {
          min-width: 180px;
        }
      }
    }
  }
}

.mediaBlock .mediaBlock__contentContainer > div > div > div > div {
  opacity: 0;
  transition: opacity 1.2s;
  &:nth-child(1) {
    transition-delay: 0s;
  }
  &:nth-child(2) {
    transition-delay: 0.25s;
  }
  &:nth-child(3) {
    transition-delay: 0.5s;
  }
  &:nth-child(4) {
    transition-delay: 0.75s;
  }
}
.mediaBlock.-contentScrolledIn
  .mediaBlock__contentContainer
  > div
  > div
  > div
  > div {
  opacity: 1;
}
