@import "../scss/abstracts";

.mediaBlock {
  position: relative;
  height: 100vh;
  padding: {
    left: 90px;
    right: 90px;
  }
  color: $white;

  @include breakpointDown($md) {
    padding: {
      left: 70px;
      right: 70px;
    }
  }

  @include breakpointDown($sm) {
    padding: {
      left: 50px;
      right: 50px;
    }
  }

  // Children

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;

    //mask
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $mask;
    }
  }

  &__inner {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: {
      top: 0;
      bottom: 8px;
    }
    text-align: center;
    font: {
      weight: 600;
      size: 80px;
    }
    line-height: 85px;

    @include breakpointDown($xl) {
      font-size: 72px;
      line-height: 76.5px;
    }

    @include breakpointDown($lg) {
      font-size: 68px;
      line-height: 72.25px;
    }

    @include breakpointDown($md) {
      font-size: 36px;
      line-height: 38.25px;
    }

    @include breakpointDown($sm) {
      font-size: 30px;
      line-height: 32.25px;
    }
  }

  &__subTitle {
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
    font: {
      size: 25px;
      weight: 400;
    }
    line-height: 40px;

    @include breakpointDown($lg) {
      font-size: 22.5px;
      line-height: 36px;
    }

    @include breakpointDown($md) {
      font-size: 17.5px;
      line-height: 28px;
    }
  }

  // Modifiers

  &.-bottomDiagonal {
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: 5;
      left: 0;
      bottom: 0;
      height: 0;
      display: block;
      width: 0;
      border: {
        top: 70px solid transparent;
        bottom: 70px solid $white;
        left: 50vw solid $white;
        right: 50vw solid transparent;
      }
      transition: border-width 0.15s ease;

      @include breakpointDown($md) {
        border: {
          top-width: 50px;
          bottom-width: 50px;
        }
      }

      @include breakpointDown($sm) {
        border: {
          top-width: 25px;
          bottom-width: 25px;
        }
      }
    }
  }

  // special for FAQS page
  &.-specialFaqsBackground .mediaBlock__image {
    display: block;
    // width: auto;
    height: 1312px;
  }
}
