@import '../scss/abstracts';

.mediaBlock {
    position: relative;
    height: 100vh;

    color: $white;

    // Children

    &__media {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        height: 100%;

        //mask
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $mask;
        }
    }

    &__inner {
        position: relative;
        z-index: 10;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100%;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        margin: 0;
        text-align: center;
        font-size: 80px;
    }

    &__subTitle {
        margin: 0;
        letter-spacing: 1px;
        font: {
            size: 25px;
            weight: 400;
        }
        line-height: 40px;
    }

    // Modifiers

    &.-bottomDiagonal {
        overflow: hidden;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            background: white;
            left: 0;
            right: 0;
            bottom: 0;
            height: 150px;
            z-index: 5;
            transform-origin: left top;
            transform: skewY(4.5deg);
        }
    }

    // special for FAQS page
    &.-specialFaqsBackground .mediaBlock__image {
            display: block;
            width: auto;
            height: 1312px;
    }

}


// .mediaBlock__image-faqsBackground {
//     border: solid 10px red !important;
// }