@import "../scss/abstracts";

.videoPlayButton {
  display: flex;
  align-items: center;
  border: none;
  text-transform: uppercase;
  font: {
    size: 20px;
    weight: 200;
  }
  background-color: transparent;
  color: $white;
  cursor: pointer;
  outline: none;

  &__icon {
    position: relative;
    display: block;
    margin-right: 25px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    line-height: 53px;
    text-align: center;
    background-color: $blue;
    color: $white;
    transition: transform 0.15s ease;
    font-size: 13px;

    i {
      margin-left: 3px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      display: block;
      border: 1px solid rgba(255,255,255,.5);
      border-radius: 50%;
      transform: scale(.35) translateY(-50%) translateX(-50%);
      opacity: 0;
      animation: playButtonPulse 2.6s cubic-bezier(.25,.9,.2,1) 0.4s infinite;
    }
  }

  &:hover &__icon {
    transform: scale(1.15);
  }

  // Modifiers
  &.-simpleButton {
   border-radius: 200px;
   background-color: #a2b8bf !important;
   padding: 1em 1.7em;
   font-size: 14px;
   font-weight: 600;
   opacity: 0.9;
   &:hover {
     opacity: 1;
   };
  }
}

.videoPlayer {
  &__inner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    background-color: rgba($black, 0.75);
  }

  &__video {
    position: relative;
    z-index: 10;
    margin: {
      left: 4vw;
      top: 5vh;
    }
    width: 92vw;
    height: 90vh;

    iframe {
      width: 100%;
      height: 100%;
      background-color: $black;
    }
  }

  &__closeButton {
    position: absolute;
    z-index: 15;
    top: 1vh;
    right: 1vw;
    border: none;
    padding: 5px;
    background: transparent;
    cursor: pointer;
    outline: none;
  }

  &__close {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    transform: rotate(0.125turn);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
      background-color: $white;
      transition:
        width 0.125s ease,
        height 0.125s ease;
    }

    &:before {
      width: 24px;
      height: 2px;
    }

    &:after {
      width: 2px;
      height: 24px;
    }
  }

  &__closeButton:hover &__close {
    &:before {
      width: 30px;
    }

    &:after {
      height: 30px;
    }
  }
}

body.videoPlayerOpen {
  overflow: hidden;
  
  .footer__homeButton {
    display: none;
  }
}

@keyframes playButtonPulse {
  0% {
      transform: translate3d(-50%,-50%,0)scale(1);
      opacity: 1
  }

  100% {
      transform: translate3d(-50%,-50%,0)scale(1.7);
      opacity: 0
  }
}
